.es-btn {
    outline: none;
    border: none;
    background: var(--brown500);
    color: white;
    font-family: 'Mulish-Bold', $fallbackFont;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 4px;

    &:is(a) {
        text-decoration: none;
        display: inline-block;
        
        &:hover {
            color: white;
        }
    }

    &:hover {
        background: var(--brown800);
    }

    &:active {
        background: var(--brown500);
    }

    &.disabled {
        opacity: .5;
        cursor: default;

        &:hover {
            background: var(--brown500);
            opacity: .5;
        }
    
        &:active {
            background: var(--brown500);
            opacity: .5;
        }
    }
}

.es-btn-outline {
    outline: none;
    border: 1px solid var(--brown500);
    background: transparent;
    color: var(--brown500);
    font-family: 'Mulish-Bold', $fallbackFont;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 4px;

    &:hover {
        background: var(--brown500);
        color: white;
    }

    &:active {
        background: var(--brown800);
        color: white;
    }

    &~a {
        text-decoration: none;
        display: inline-block;
        
        &:hover {
            color: white;
        }

        &.disabled {
            color: var(--brown500);
        }
    }

    &.disabled {
        opacity: .5;
        cursor: default;
        color: var(--brown500);

        &:hover {
            background: transparent;
            opacity: .5;
        }
    
        &:active {
            background: transparent;
            opacity: .5;
        }
    }
}

.es-btn-text {
    outline: none;
    border: none;
    background: none;
    color: var(--brown500);
    font-family: 'Mulish-Bold', $fallbackFont;
    font-size: 15px;
    line-height: 28px;

    svg path {
        stroke: var(--brown500);
    }

    &:is(a) {
        text-decoration: none;
        display: inline-block;
        
        &:hover {
            color: white;
        }
    }

    &:hover {
        color: var(--brown800);
        svg path {
            stroke: var(--brown800);
        }
    }

    &:active {
        color: var(--brown500);
        svg path {
            stroke: var(--brown500);
        }
    }

    &.disabled {
        opacity: .5;
        cursor: default;

        &:hover {
            background: var(--brown500);
            opacity: .5;
        }
    
        &:active {
            background: var(--brown500);
            opacity: .5;
        }
    }


}

.es-btn-icon {
    outline: none;
    border: none;

    &:hover {
        filter: brightness(85%);
    }
}