.es-gap-0 {
    gap: 0px
}
.es-gap-1 {
    gap: 0.25rem
}
.es-gap-2 {
    gap: 0.5rem
}
.es-gap-3 {
    gap: 0.75rem
}
.es-gap-4 {
    gap: 1rem
}
.es-gap-5 {
    gap: 1.25rem
}
.es-gap-6 {
    gap: 1.5rem
}
.es-gap-7 {
    gap: 1.75rem
}
.es-gap-8 {
    gap: 2rem
}
.es-gap-9 {
    gap: 2.25rem
}
.es-gap-10 {
    gap: 2.5rem
}
.es-gap-11 {
    gap: 2.75rem
}
.es-gap-12 {
    gap: 3rem
}
.es-gap-14 {
    gap: 3.5rem
}
.es-gap-16 {
    gap: 4rem
}
.es-gap-20 {
    gap: 5rem
}
.es-gap-24 {
    gap: 6rem
}
.es-gap-28 {
    gap: 7rem
}
.es-gap-32 {
    gap: 8rem
}
.es-gap-36 {
    gap: 9rem
}
.es-gap-40 {
    gap: 10rem
}
.es-gap-44 {
    gap: 11rem
}
.es-gap-48 {
    gap: 12rem
}
.es-gap-52 {
    gap: 13rem
}
.es-gap-56 {
    gap: 14rem
}
.es-gap-60 {
    gap: 15rem
}
.es-gap-64 {
    gap: 16rem
}
.es-gap-72 {
    gap: 18rem
}
.es-gap-80 {
    gap: 20rem
}
.es-gap-96 {
    gap: 24rem
}
.es-gap-px {
    gap: 1px
}
.es-gap-0\.5 {
    gap: 0.125rem
}
.es-gap-1\.5 {
    gap: 0.375rem
}
.es-gap-2\.5 {
    gap: 0.625rem
}
.es-gap-3\.5 {
    gap: 0.875rem
}
.es-gap-x-0 {
    column-gap: 0px
}
.es-gap-x-1 {
    column-gap: 0.25rem
}
.es-gap-x-2 {
    column-gap: 0.5rem
}
.es-gap-x-3 {
    column-gap: 0.75rem
}
.es-gap-x-4 {
    column-gap: 1rem
}
.es-gap-x-5 {
    column-gap: 1.25rem
}
.es-gap-x-6 {
    column-gap: 1.5rem
}
.es-gap-x-7 {
    column-gap: 1.75rem
}
.es-gap-x-8 {
    column-gap: 2rem
}
.es-gap-x-9 {
    column-gap: 2.25rem
}
.es-gap-x-10 {
    column-gap: 2.5rem
}
.es-gap-x-11 {
    column-gap: 2.75rem
}
.es-gap-x-12 {
    column-gap: 3rem
}
.es-gap-x-14 {
    column-gap: 3.5rem
}
.es-gap-x-16 {
    column-gap: 4rem
}
.es-gap-x-20 {
    column-gap: 5rem
}
.es-gap-x-24 {
    column-gap: 6rem
}
.es-gap-x-28 {
    column-gap: 7rem
}
.es-gap-x-32 {
    column-gap: 8rem
}
.es-gap-x-36 {
    column-gap: 9rem
}
.es-gap-x-40 {
    column-gap: 10rem
}
.es-gap-x-44 {
    column-gap: 11rem
}
.es-gap-x-48 {
    column-gap: 12rem
}
.es-gap-x-52 {
    column-gap: 13rem
}
.es-gap-x-56 {
    column-gap: 14rem
}
.es-gap-x-60 {
    column-gap: 15rem
}
.es-gap-x-64 {
    column-gap: 16rem
}
.es-gap-x-72 {
    column-gap: 18rem
}
.es-gap-x-80 {
    column-gap: 20rem
}
.es-gap-x-96 {
    column-gap: 24rem
}
.es-gap-x-px {
    column-gap: 1px
}
.es-gap-x-0\.5 {
    column-gap: 0.125rem
}
.es-gap-x-1\.5 {
    column-gap: 0.375rem
}
.es-gap-x-2\.5 {
    column-gap: 0.625rem
}
.es-gap-x-3\.5 {
    column-gap: 0.875rem
}
.es-gap-y-0 {
    row-gap: 0px
}
.es-gap-y-1 {
    row-gap: 0.25rem
}
.es-gap-y-2 {
    row-gap: 0.5rem
}
.es-gap-y-3 {
    row-gap: 0.75rem
}
.es-gap-y-4 {
    row-gap: 1rem
}
.es-gap-y-5 {
    row-gap: 1.25rem
}
.es-gap-y-6 {
    row-gap: 1.5rem
}
.es-gap-y-7 {
    row-gap: 1.75rem
}
.es-gap-y-8 {
    row-gap: 2rem
}
.es-gap-y-9 {
    row-gap: 2.25rem
}
.es-gap-y-10 {
    row-gap: 2.5rem
}
.es-gap-y-11 {
    row-gap: 2.75rem
}
.es-gap-y-12 {
    row-gap: 3rem
}
.es-gap-y-14 {
    row-gap: 3.5rem
}
.es-gap-y-16 {
    row-gap: 4rem
}
.es-gap-y-20 {
    row-gap: 5rem
}
.es-gap-y-24 {
    row-gap: 6rem
}
.es-gap-y-28 {
    row-gap: 7rem
}
.es-gap-y-32 {
    row-gap: 8rem
}
.es-gap-y-36 {
    row-gap: 9rem
}
.es-gap-y-40 {
    row-gap: 10rem
}
.es-gap-y-44 {
    row-gap: 11rem
}
.es-gap-y-48 {
    row-gap: 12rem
}
.es-gap-y-52 {
    row-gap: 13rem
}
.es-gap-y-56 {
    row-gap: 14rem
}
.es-gap-y-60 {
    row-gap: 15rem
}
.es-gap-y-64 {
    row-gap: 16rem
}
.es-gap-y-72 {
    row-gap: 18rem
}
.es-gap-y-80 {
    row-gap: 20rem
}
.es-gap-y-96 {
    row-gap: 24rem
}
.es-gap-y-px {
    row-gap: 1px
}
.es-gap-y-0\.5 {
    row-gap: 0.125rem
}
.es-gap-y-1\.5 {
    row-gap: 0.375rem
}
.es-gap-y-2\.5 {
    row-gap: 0.625rem
}
.es-gap-y-3\.5 {
    row-gap: 0.875rem
}