.es-p-0 {
    padding: 0px
}

.es-p-1 {
    padding: 0.25rem
}

.es-p-2 {
    padding: 0.5rem
}

.es-p-3 {
    padding: 0.75rem
}

.es-p-4 {
    padding: 1rem
}

.es-p-5 {
    padding: 1.25rem
}

.es-p-6 {
    padding: 1.5rem
}

.es-p-7 {
    padding: 1.75rem
}

.es-p-8 {
    padding: 2rem
}

.es-p-9 {
    padding: 2.25rem
}

.es-p-10 {
    padding: 2.5rem
}

.es-p-11 {
    padding: 2.75rem
}

.es-p-12 {
    padding: 3rem
}

.es-p-14 {
    padding: 3.5rem
}

.es-p-16 {
    padding: 4rem
}

.es-p-20 {
    padding: 5rem
}

.es-p-24 {
    padding: 6rem
}

.es-p-28 {
    padding: 7rem
}

.es-p-32 {
    padding: 8rem
}

.es-p-36 {
    padding: 9rem
}

.es-p-40 {
    padding: 10rem
}

.es-p-44 {
    padding: 11rem
}

.es-p-48 {
    padding: 12rem
}

.es-p-52 {
    padding: 13rem
}

.es-p-56 {
    padding: 14rem
}

.es-p-60 {
    padding: 15rem
}

.es-p-64 {
    padding: 16rem
}

.es-p-72 {
    padding: 18rem
}

.es-p-80 {
    padding: 20rem
}

.es-p-96 {
    padding: 24rem
}

.es-p-px {
    padding: 1px
}

.es-px-0 {
    padding-left: 0px;
    padding-right: 0px
}

.es-px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem
}

.es-px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}

.es-px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}

.es-px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.es-px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.es-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.es-px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem
}

.es-px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.es-px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem
}

.es-px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.es-px-11 {
    padding-left: 2.75rem;
    padding-right: 2.75rem
}

.es-px-12 {
    padding-left: 3rem;
    padding-right: 3rem
}

.es-px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem
}

.es-px-16 {
    padding-left: 4rem;
    padding-right: 4rem
}

.es-px-20 {
    padding-left: 5rem;
    padding-right: 5rem
}

.es-px-24 {
    padding-left: 6rem;
    padding-right: 6rem
}

.es-px-28 {
    padding-left: 7rem;
    padding-right: 7rem
}

.es-px-32 {
    padding-left: 8rem;
    padding-right: 8rem
}

.es-px-36 {
    padding-left: 9rem;
    padding-right: 9rem
}

.es-px-40 {
    padding-left: 10rem;
    padding-right: 10rem
}

.es-px-44 {
    padding-left: 11rem;
    padding-right: 11rem
}

.es-px-48 {
    padding-left: 12rem;
    padding-right: 12rem
}

.es-px-52 {
    padding-left: 13rem;
    padding-right: 13rem
}

.es-px-56 {
    padding-left: 14rem;
    padding-right: 14rem
}

.es-px-60 {
    padding-left: 15rem;
    padding-right: 15rem
}

.es-px-64 {
    padding-left: 16rem;
    padding-right: 16rem
}

.es-px-72 {
    padding-left: 18rem;
    padding-right: 18rem
}

.es-px-80 {
    padding-left: 20rem;
    padding-right: 20rem
}

.es-px-96 {
    padding-left: 24rem;
    padding-right: 24rem
}

.es-px-px {
    padding-left: 1px;
    padding-right: 1px
}

.es-py-0 {
    padding-top: 0px;
    padding-bottom: 0px
}

.es-py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}

.es-py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

.es-py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
}

.es-py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.es-py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.es-py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.es-py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem
}

.es-py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.es-py-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem
}

.es-py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.es-py-11 {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem
}

.es-py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.es-py-14 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem
}

.es-py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.es-py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.es-py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem
}

.es-py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem
}

.es-py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem
}

.es-py-36 {
    padding-top: 9rem;
    padding-bottom: 9rem
}

.es-py-40 {
    padding-top: 10rem;
    padding-bottom: 10rem
}

.es-py-44 {
    padding-top: 11rem;
    padding-bottom: 11rem
}

.es-py-48 {
    padding-top: 12rem;
    padding-bottom: 12rem
}

.es-py-52 {
    padding-top: 13rem;
    padding-bottom: 13rem
}

.es-py-56 {
    padding-top: 14rem;
    padding-bottom: 14rem
}

.es-py-60 {
    padding-top: 15rem;
    padding-bottom: 15rem
}

.es-py-64 {
    padding-top: 16rem;
    padding-bottom: 16rem
}

.es-py-72 {
    padding-top: 18rem;
    padding-bottom: 18rem
}

.es-py-80 {
    padding-top: 20rem;
    padding-bottom: 20rem
}

.es-py-96 {
    padding-top: 24rem;
    padding-bottom: 24rem
}

.es-py-px {
    padding-top: 1px;
    padding-bottom: 1px
}

.es-pt-0 {
    padding-top: 0px
}

.es-pt-1 {
    padding-top: 0.25rem
}

.es-pt-2 {
    padding-top: 0.5rem
}

.es-pt-3 {
    padding-top: 0.75rem
}

.es-pt-4 {
    padding-top: 1rem
}

.es-pt-5 {
    padding-top: 1.25rem
}

.es-pt-6 {
    padding-top: 1.5rem
}

.es-pt-7 {
    padding-top: 1.75rem
}

.es-pt-8 {
    padding-top: 2rem
}

.es-pt-9 {
    padding-top: 2.25rem
}

.es-pt-10 {
    padding-top: 2.5rem
}

.es-pt-11 {
    padding-top: 2.75rem
}

.es-pt-12 {
    padding-top: 3rem
}

.es-pt-14 {
    padding-top: 3.5rem
}

.es-pt-16 {
    padding-top: 4rem
}

.es-pt-20 {
    padding-top: 5rem
}

.es-pt-24 {
    padding-top: 6rem
}

.es-pt-28 {
    padding-top: 7rem
}

.es-pt-32 {
    padding-top: 8rem
}

.es-pt-36 {
    padding-top: 9rem
}

.es-pt-40 {
    padding-top: 10rem
}

.es-pt-44 {
    padding-top: 11rem
}

.es-pt-48 {
    padding-top: 12rem
}

.es-pt-52 {
    padding-top: 13rem
}

.es-pt-56 {
    padding-top: 14rem
}

.es-pt-60 {
    padding-top: 15rem
}

.es-pt-64 {
    padding-top: 16rem
}

.es-pt-72 {
    padding-top: 18rem
}

.es-pt-80 {
    padding-top: 20rem
}

.es-pt-96 {
    padding-top: 24rem
}

.es-pt-px {
    padding-top: 1px
}

.es-pr-0 {
    padding-right: 0px
}

.es-pr-1 {
    padding-right: 0.25rem
}

.es-pr-2 {
    padding-right: 0.5rem
}

.es-pr-3 {
    padding-right: 0.75rem
}

.es-pr-4 {
    padding-right: 1rem
}

.es-pr-5 {
    padding-right: 1.25rem
}

.es-pr-6 {
    padding-right: 1.5rem
}

.es-pr-7 {
    padding-right: 1.75rem
}

.es-pr-8 {
    padding-right: 2rem
}

.es-pr-9 {
    padding-right: 2.25rem
}

.es-pr-10 {
    padding-right: 2.5rem
}

.es-pr-11 {
    padding-right: 2.75rem
}

.es-pr-12 {
    padding-right: 3rem
}

.es-pr-14 {
    padding-right: 3.5rem
}

.es-pr-16 {
    padding-right: 4rem
}

.es-pr-20 {
    padding-right: 5rem
}

.es-pr-24 {
    padding-right: 6rem
}

.es-pr-28 {
    padding-right: 7rem
}

.es-pr-32 {
    padding-right: 8rem
}

.es-pr-36 {
    padding-right: 9rem
}

.es-pr-40 {
    padding-right: 10rem
}

.es-pr-44 {
    padding-right: 11rem
}

.es-pr-48 {
    padding-right: 12rem
}

.es-pr-52 {
    padding-right: 13rem
}

.es-pr-56 {
    padding-right: 14rem
}

.es-pr-60 {
    padding-right: 15rem
}

.es-pr-64 {
    padding-right: 16rem
}

.es-pr-72 {
    padding-right: 18rem
}

.es-pr-80 {
    padding-right: 20rem
}

.es-pr-96 {
    padding-right: 24rem
}

.es-pr-px {
    padding-right: 1px
}

.es-pb-0 {
    padding-bottom: 0px
}

.es-pb-1 {
    padding-bottom: 0.25rem
}

.es-pb-2 {
    padding-bottom: 0.5rem
}

.es-pb-3 {
    padding-bottom: 0.75rem
}

.es-pb-4 {
    padding-bottom: 1rem
}

.es-pb-5 {
    padding-bottom: 1.25rem
}

.es-pb-6 {
    padding-bottom: 1.5rem
}

.es-pb-7 {
    padding-bottom: 1.75rem
}

.es-pb-8 {
    padding-bottom: 2rem
}

.es-pb-9 {
    padding-bottom: 2.25rem
}

.es-pb-10 {
    padding-bottom: 2.5rem
}

.es-pb-11 {
    padding-bottom: 2.75rem
}

.es-pb-12 {
    padding-bottom: 3rem
}

.es-pb-14 {
    padding-bottom: 3.5rem
}

.es-pb-16 {
    padding-bottom: 4rem
}

.es-pb-20 {
    padding-bottom: 5rem
}

.es-pb-24 {
    padding-bottom: 6rem
}

.es-pb-28 {
    padding-bottom: 7rem
}

.es-pb-32 {
    padding-bottom: 8rem
}

.es-pb-36 {
    padding-bottom: 9rem
}

.es-pb-40 {
    padding-bottom: 10rem
}

.es-pb-44 {
    padding-bottom: 11rem
}

.es-pb-48 {
    padding-bottom: 12rem
}

.es-pb-52 {
    padding-bottom: 13rem
}

.es-pb-56 {
    padding-bottom: 14rem
}

.es-pb-60 {
    padding-bottom: 15rem
}

.es-pb-64 {
    padding-bottom: 16rem
}

.es-pb-72 {
    padding-bottom: 18rem
}

.es-pb-80 {
    padding-bottom: 20rem
}

.es-pb-96 {
    padding-bottom: 24rem
}

.es-pb-px {
    padding-bottom: 1px
}

.es-pl-0 {
    padding-left: 0px
}

.es-pl-1 {
    padding-left: 0.25rem
}

.es-pl-2 {
    padding-left: 0.5rem
}

.es-pl-3 {
    padding-left: 0.75rem
}

.es-pl-4 {
    padding-left: 1rem
}

.es-pl-5 {
    padding-left: 1.25rem
}

.es-pl-6 {
    padding-left: 1.5rem
}

.es-pl-7 {
    padding-left: 1.75rem
}

.es-pl-8 {
    padding-left: 2rem
}

.es-pl-9 {
    padding-left: 2.25rem
}

.es-pl-10 {
    padding-left: 2.5rem
}

.es-pl-11 {
    padding-left: 2.75rem
}

.es-pl-12 {
    padding-left: 3rem
}

.es-pl-14 {
    padding-left: 3.5rem
}

.es-pl-16 {
    padding-left: 4rem
}

.es-pl-20 {
    padding-left: 5rem
}

.es-pl-24 {
    padding-left: 6rem
}

.es-pl-28 {
    padding-left: 7rem
}

.es-pl-32 {
    padding-left: 8rem
}

.es-pl-36 {
    padding-left: 9rem
}

.es-pl-40 {
    padding-left: 10rem
}

.es-pl-44 {
    padding-left: 11rem
}

.es-pl-48 {
    padding-left: 12rem
}

.es-pl-52 {
    padding-left: 13rem
}

.es-pl-56 {
    padding-left: 14rem
}

.es-pl-60 {
    padding-left: 15rem
}

.es-pl-64 {
    padding-left: 16rem
}

.es-pl-72 {
    padding-left: 18rem
}

.es-pl-80 {
    padding-left: 20rem
}

.es-pl-96 {
    padding-left: 24rem
}

.es-pl-px {
    padding-left: 1px
}

@media (min-width: $md) {

    .es-px-md-16 {
        padding-left: 4rem;
        padding-right: 4rem
    }
}

@media (min-width: $lg) {

    .es-pb-lg-32 {
        padding-bottom: 9rem;
    }
}