.es-top-0 {
    top: 0px
}
.es-top-1 {
    top: 0.25rem
}
.es-top-2 {
    top: 0.5rem
}
.es-top-3 {
    top: 0.75rem
}
.es-top-4 {
    top: 1rem
}
.es-top-5 {
    top: 1.25rem
}
.es-top-6 {
    top: 1.5rem
}
.es-top-7 {
    top: 1.75rem
}
.es-top-8 {
    top: 2rem
}
.es-top-9 {
    top: 2.25rem
}
.es-top-10 {
    top: 2.5rem
}
.es-top-11 {
    top: 2.75rem
}
.es-top-12 {
    top: 3rem
}
.es-top-14 {
    top: 3.5rem
}
.es-top-16 {
    top: 4rem
}
.es-top-20 {
    top: 5rem
}
.es-top-24 {
    top: 6rem
}
.es-top-28 {
    top: 7rem
}
.es-top-32 {
    top: 8rem
}
.es-top-36 {
    top: 9rem
}
.es-top-40 {
    top: 10rem
}
.es-top-44 {
    top: 11rem
}
.es-top-48 {
    top: 12rem
}
.es-top-52 {
    top: 13rem
}
.es-top-56 {
    top: 14rem
}
.es-top-60 {
    top: 15rem
}
.es-top-64 {
    top: 16rem
}
.es-top-72 {
    top: 18rem
}
.es-top-80 {
    top: 20rem
}
.es-top-96 {
    top: 24rem
}
.es-top-auto {
    top: auto
}
.es-top-px {
    top: 1px
}
.es-top-0\.5 {
    top: 0.125rem
}
.es-top-1\.5 {
    top: 0.375rem
}
.es-top-2\.5 {
    top: 0.625rem
}
.es-top-3\.5 {
    top: 0.875rem
}
.es--top-0 {
    top: 0px
}
.es--top-1 {
    top: -0.25rem
}
.es--top-2 {
    top: -0.5rem
}
.es--top-3 {
    top: -0.75rem
}
.es--top-4 {
    top: -1rem
}
.es--top-5 {
    top: -1.25rem
}
.es--top-6 {
    top: -1.5rem
}
.es--top-7 {
    top: -1.75rem
}
.es--top-8 {
    top: -2rem
}
.es--top-9 {
    top: -2.25rem
}
.es--top-10 {
    top: -2.5rem
}
.es--top-11 {
    top: -2.75rem
}
.es--top-12 {
    top: -3rem
}
.es--top-14 {
    top: -3.5rem
}
.es--top-16 {
    top: -4rem
}
.es--top-20 {
    top: -5rem
}
.es--top-24 {
    top: -6rem
}
.es--top-28 {
    top: -7rem
}
.es--top-32 {
    top: -8rem
}
.es--top-36 {
    top: -9rem
}
.es--top-40 {
    top: -10rem
}
.es--top-44 {
    top: -11rem
}
.es--top-48 {
    top: -12rem
}
.es--top-52 {
    top: -13rem
}
.es--top-56 {
    top: -14rem
}
.es--top-60 {
    top: -15rem
}
.es--top-64 {
    top: -16rem
}
.es--top-72 {
    top: -18rem
}
.es--top-80 {
    top: -20rem
}
.es--top-96 {
    top: -24rem
}
.es--top-px {
    top: -1px
}
.es--top-0\.5 {
    top: -0.125rem
}
.es--top-1\.5 {
    top: -0.375rem
}
.es--top-2\.5 {
    top: -0.625rem
}
.es--top-3\.5 {
    top: -0.875rem
}
.es-top-1\/2 {
    top: 50%
}
.es-top-1\/3 {
    top: 33.333333%
}
.es-top-2\/3 {
    top: 66.666667%
}
.es-top-1\/4 {
    top: 25%
}
.es-top-2\/4 {
    top: 50%
}
.es-top-3\/4 {
    top: 75%
}
.es-top-full {
    top: 100%
}
.es--top-1\/2 {
    top: -50%
}
.es--top-1\/3 {
    top: -33.333333%
}
.es--top-2\/3 {
    top: -66.666667%
}
.es--top-1\/4 {
    top: -25%
}
.es--top-2\/4 {
    top: -50%
}
.es--top-3\/4 {
    top: -75%
}
.es--top-full {
    top: -100%
}
.es-right-0 {
    right: 0px
}
.es-right-1 {
    right: 0.25rem
}
.es-right-2 {
    right: 0.5rem
}
.es-right-3 {
    right: 0.75rem
}
.es-right-4 {
    right: 1rem
}
.es-right-5 {
    right: 1.25rem
}
.es-right-6 {
    right: 1.5rem
}
.es-right-7 {
    right: 1.75rem
}
.es-right-8 {
    right: 2rem
}
.es-right-9 {
    right: 2.25rem
}
.es-right-10 {
    right: 2.5rem
}
.es-right-11 {
    right: 2.75rem
}
.es-right-12 {
    right: 3rem
}
.es-right-14 {
    right: 3.5rem
}
.es-right-16 {
    right: 4rem
}
.es-right-20 {
    right: 5rem
}
.es-right-24 {
    right: 6rem
}
.es-right-28 {
    right: 7rem
}
.es-right-32 {
    right: 8rem
}
.es-right-36 {
    right: 9rem
}
.es-right-40 {
    right: 10rem
}
.es-right-44 {
    right: 11rem
}
.es-right-48 {
    right: 12rem
}
.es-right-52 {
    right: 13rem
}
.es-right-56 {
    right: 14rem
}
.es-right-60 {
    right: 15rem
}
.es-right-64 {
    right: 16rem
}
.es-right-72 {
    right: 18rem
}
.es-right-80 {
    right: 20rem
}
.es-right-96 {
    right: 24rem
}
.es-right-auto {
    right: auto
}
.es-right-px {
    right: 1px
}
.es-right-0\.5 {
    right: 0.125rem
}
.es-right-1\.5 {
    right: 0.375rem
}
.es-right-2\.5 {
    right: 0.625rem
}
.es-right-3\.5 {
    right: 0.875rem
}
.es--right-0 {
    right: 0px
}
.es--right-1 {
    right: -0.25rem
}
.es--right-2 {
    right: -0.5rem
}
.es--right-3 {
    right: -0.75rem
}
.es--right-4 {
    right: -1rem
}
.es--right-5 {
    right: -1.25rem
}
.es--right-6 {
    right: -1.5rem
}
.es--right-7 {
    right: -1.75rem
}
.es--right-8 {
    right: -2rem
}
.es--right-9 {
    right: -2.25rem
}
.es--right-10 {
    right: -2.5rem
}
.es--right-11 {
    right: -2.75rem
}
.es--right-12 {
    right: -3rem
}
.es--right-14 {
    right: -3.5rem
}
.es--right-16 {
    right: -4rem
}
.es--right-20 {
    right: -5rem
}
.es--right-24 {
    right: -6rem
}
.es--right-28 {
    right: -7rem
}
.es--right-32 {
    right: -8rem
}
.es--right-36 {
    right: -9rem
}
.es--right-40 {
    right: -10rem
}
.es--right-44 {
    right: -11rem
}
.es--right-48 {
    right: -12rem
}
.es--right-52 {
    right: -13rem
}
.es--right-56 {
    right: -14rem
}
.es--right-60 {
    right: -15rem
}
.es--right-64 {
    right: -16rem
}
.es--right-72 {
    right: -18rem
}
.es--right-80 {
    right: -20rem
}
.es--right-96 {
    right: -24rem
}
.es--right-px {
    right: -1px
}
.es--right-0\.5 {
    right: -0.125rem
}
.es--right-1\.5 {
    right: -0.375rem
}
.es--right-2\.5 {
    right: -0.625rem
}
.es--right-3\.5 {
    right: -0.875rem
}
.es-right-1\/2 {
    right: 50%
}
.es-right-1\/3 {
    right: 33.333333%
}
.es-right-2\/3 {
    right: 66.666667%
}
.es-right-1\/4 {
    right: 25%
}
.es-right-2\/4 {
    right: 50%
}
.es-right-3\/4 {
    right: 75%
}
.es-right-full {
    right: 100%
}
.es--right-1\/2 {
    right: -50%
}
.es--right-1\/3 {
    right: -33.333333%
}
.es--right-2\/3 {
    right: -66.666667%
}
.es--right-1\/4 {
    right: -25%
}
.es--right-2\/4 {
    right: -50%
}
.es--right-3\/4 {
    right: -75%
}
.es--right-full {
    right: -100%
}
.es-bottom-0 {
    bottom: 0px
}
.es-bottom-1 {
    bottom: 0.25rem
}
.es-bottom-2 {
    bottom: 0.5rem
}
.es-bottom-3 {
    bottom: 0.75rem
}
.es-bottom-4 {
    bottom: 1rem
}
.es-bottom-5 {
    bottom: 1.25rem
}
.es-bottom-6 {
    bottom: 1.5rem
}
.es-bottom-7 {
    bottom: 1.75rem
}
.es-bottom-8 {
    bottom: 2rem
}
.es-bottom-9 {
    bottom: 2.25rem
}
.es-bottom-10 {
    bottom: 2.5rem
}
.es-bottom-11 {
    bottom: 2.75rem
}
.es-bottom-12 {
    bottom: 3rem
}
.es-bottom-14 {
    bottom: 3.5rem
}
.es-bottom-16 {
    bottom: 4rem
}
.es-bottom-20 {
    bottom: 5rem
}
.es-bottom-24 {
    bottom: 6rem
}
.es-bottom-28 {
    bottom: 7rem
}
.es-bottom-32 {
    bottom: 8rem
}
.es-bottom-36 {
    bottom: 9rem
}
.es-bottom-40 {
    bottom: 10rem
}
.es-bottom-44 {
    bottom: 11rem
}
.es-bottom-48 {
    bottom: 12rem
}
.es-bottom-52 {
    bottom: 13rem
}
.es-bottom-56 {
    bottom: 14rem
}
.es-bottom-60 {
    bottom: 15rem
}
.es-bottom-64 {
    bottom: 16rem
}
.es-bottom-72 {
    bottom: 18rem
}
.es-bottom-80 {
    bottom: 20rem
}
.es-bottom-96 {
    bottom: 24rem
}
.es-bottom-auto {
    bottom: auto
}
.es-bottom-px {
    bottom: 1px
}
.es-bottom-0\.5 {
    bottom: 0.125rem
}
.es-bottom-1\.5 {
    bottom: 0.375rem
}
.es-bottom-2\.5 {
    bottom: 0.625rem
}
.es-bottom-3\.5 {
    bottom: 0.875rem
}
.es--bottom-0 {
    bottom: 0px
}
.es--bottom-1 {
    bottom: -0.25rem
}
.es--bottom-2 {
    bottom: -0.5rem
}
.es--bottom-3 {
    bottom: -0.75rem
}
.es--bottom-4 {
    bottom: -1rem
}
.es--bottom-5 {
    bottom: -1.25rem
}
.es--bottom-6 {
    bottom: -1.5rem
}
.es--bottom-7 {
    bottom: -1.75rem
}
.es--bottom-8 {
    bottom: -2rem
}
.es--bottom-9 {
    bottom: -2.25rem
}
.es--bottom-10 {
    bottom: -2.5rem
}
.es--bottom-11 {
    bottom: -2.75rem
}
.es--bottom-12 {
    bottom: -3rem
}
.es--bottom-14 {
    bottom: -3.5rem
}
.es--bottom-16 {
    bottom: -4rem
}
.es--bottom-20 {
    bottom: -5rem
}
.es--bottom-24 {
    bottom: -6rem
}
.es--bottom-28 {
    bottom: -7rem
}
.es--bottom-32 {
    bottom: -8rem
}
.es--bottom-36 {
    bottom: -9rem
}
.es--bottom-40 {
    bottom: -10rem
}
.es--bottom-44 {
    bottom: -11rem
}
.es--bottom-48 {
    bottom: -12rem
}
.es--bottom-52 {
    bottom: -13rem
}
.es--bottom-56 {
    bottom: -14rem
}
.es--bottom-60 {
    bottom: -15rem
}
.es--bottom-64 {
    bottom: -16rem
}
.es--bottom-72 {
    bottom: -18rem
}
.es--bottom-80 {
    bottom: -20rem
}
.es--bottom-96 {
    bottom: -24rem
}
.es--bottom-px {
    bottom: -1px
}
.es--bottom-0\.5 {
    bottom: -0.125rem
}
.es--bottom-1\.5 {
    bottom: -0.375rem
}
.es--bottom-2\.5 {
    bottom: -0.625rem
}
.es--bottom-3\.5 {
    bottom: -0.875rem
}
.es-bottom-1\/2 {
    bottom: 50%
}
.es-bottom-1\/3 {
    bottom: 33.333333%
}
.es-bottom-2\/3 {
    bottom: 66.666667%
}
.es-bottom-1\/4 {
    bottom: 25%
}
.es-bottom-2\/4 {
    bottom: 50%
}
.es-bottom-3\/4 {
    bottom: 75%
}
.es-bottom-full {
    bottom: 100%
}
.es--bottom-1\/2 {
    bottom: -50%
}
.es--bottom-1\/3 {
    bottom: -33.333333%
}
.es--bottom-2\/3 {
    bottom: -66.666667%
}
.es--bottom-1\/4 {
    bottom: -25%
}
.es--bottom-2\/4 {
    bottom: -50%
}
.es--bottom-3\/4 {
    bottom: -75%
}
.es--bottom-full {
    bottom: -100%
}
.es-left-0 {
    left: 0px
}
.es-left-1 {
    left: 0.25rem
}
.es-left-2 {
    left: 0.5rem
}
.es-left-3 {
    left: 0.75rem
}
.es-left-4 {
    left: 1rem
}
.es-left-5 {
    left: 1.25rem
}
.es-left-6 {
    left: 1.5rem
}
.es-left-7 {
    left: 1.75rem
}
.es-left-8 {
    left: 2rem
}
.es-left-9 {
    left: 2.25rem
}
.es-left-10 {
    left: 2.5rem
}
.es-left-11 {
    left: 2.75rem
}
.es-left-12 {
    left: 3rem
}
.es-left-14 {
    left: 3.5rem
}
.es-left-16 {
    left: 4rem
}
.es-left-20 {
    left: 5rem
}
.es-left-24 {
    left: 6rem
}
.es-left-28 {
    left: 7rem
}
.es-left-32 {
    left: 8rem
}
.es-left-36 {
    left: 9rem
}
.es-left-40 {
    left: 10rem
}
.es-left-44 {
    left: 11rem
}
.es-left-48 {
    left: 12rem
}
.es-left-52 {
    left: 13rem
}
.es-left-56 {
    left: 14rem
}
.es-left-60 {
    left: 15rem
}
.es-left-64 {
    left: 16rem
}
.es-left-72 {
    left: 18rem
}
.es-left-80 {
    left: 20rem
}
.es-left-96 {
    left: 24rem
}
.es-left-auto {
    left: auto
}
.es-left-px {
    left: 1px
}
.es-left-0\.5 {
    left: 0.125rem
}
.es-left-1\.5 {
    left: 0.375rem
}
.es-left-2\.5 {
    left: 0.625rem
}
.es-left-3\.5 {
    left: 0.875rem
}
.es--left-0 {
    left: 0px
}
.es--left-1 {
    left: -0.25rem
}
.es--left-2 {
    left: -0.5rem
}
.es--left-3 {
    left: -0.75rem
}
.es--left-4 {
    left: -1rem
}
.es--left-5 {
    left: -1.25rem
}
.es--left-6 {
    left: -1.5rem
}
.es--left-7 {
    left: -1.75rem
}
.es--left-8 {
    left: -2rem
}
.es--left-9 {
    left: -2.25rem
}
.es--left-10 {
    left: -2.5rem
}
.es--left-11 {
    left: -2.75rem
}
.es--left-12 {
    left: -3rem
}
.es--left-14 {
    left: -3.5rem
}
.es--left-16 {
    left: -4rem
}
.es--left-20 {
    left: -5rem
}
.es--left-24 {
    left: -6rem
}
.es--left-28 {
    left: -7rem
}
.es--left-32 {
    left: -8rem
}
.es--left-36 {
    left: -9rem
}
.es--left-40 {
    left: -10rem
}
.es--left-44 {
    left: -11rem
}
.es--left-48 {
    left: -12rem
}
.es--left-52 {
    left: -13rem
}
.es--left-56 {
    left: -14rem
}
.es--left-60 {
    left: -15rem
}
.es--left-64 {
    left: -16rem
}
.es--left-72 {
    left: -18rem
}
.es--left-80 {
    left: -20rem
}
.es--left-96 {
    left: -24rem
}
.es--left-px {
    left: -1px
}
.es--left-0\.5 {
    left: -0.125rem
}
.es--left-1\.5 {
    left: -0.375rem
}
.es--left-2\.5 {
    left: -0.625rem
}
.es--left-3\.5 {
    left: -0.875rem
}
.es-left-1\/2 {
    left: 50%
}
.es-left-1\/3 {
    left: 33.333333%
}
.es-left-2\/3 {
    left: 66.666667%
}
.es-left-1\/4 {
    left: 25%
}
.es-left-2\/4 {
    left: 50%
}
.es-left-3\/4 {
    left: 75%
}
.es-left-full {
    left: 100%
}
.es--left-1\/2 {
    left: -50%
}
.es--left-1\/3 {
    left: -33.333333%
}
.es--left-2\/3 {
    left: -66.666667%
}
.es--left-1\/4 {
    left: -25%
}
.es--left-2\/4 {
    left: -50%
}
.es--left-3\/4 {
    left: -75%
}
.es--left-full {
    left: -100%
}